<ion-header>
  <ion-toolbar>
    <ion-title>add-place</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <div onClick="window.history.back()">
        <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <!-- <ion-icon name="albums-outline"></ion-icon> -->
      <img src="assets/img/cat-icon.png" style="width:24px" />
      <ion-label>دسته بندی</ion-label>
      <ion-select placeholder="انتخاب کنید">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="map-outline"></ion-icon> -->
      <img src="assets/img/city-icon.png" style="width:24px" />
      <ion-label>استان</ion-label>
      <ion-select placeholder="انتخاب کنید">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="map-outline"></ion-icon> -->
      <img src="assets/img/city-icon.png" style="width:24px" />
      <ion-label>شهر</ion-label>
      <ion-select placeholder="انتخاب کنید">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <!-- <ion-icon name="home-outline"></ion-icon> -->
      <img src="assets/img/house-icon.png" style="width:24px" />
      <ion-label position="fixed">نام مکان</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="call-outline"></ion-icon> -->
      <img src="assets/img/phone-icon.png" style="width:24px" />
      <ion-label position="fixed">تلفن</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <img src="assets/img/location-icon.png" style="width:24px" />
      <ion-label (click)="openMap()">انتخاب موقعیت</ion-label>
      <!-- <div style="text-align: center;width: 100%;">
        <img src="assets/img/location-icon.png" style="width:96px" (click)="openMap()" />
      </div> -->
      <!-- <ion-button expand="block" (click)="openMap()">انتخاب روی نقشه</ion-button> -->


    </ion-item>
    <ion-item>
      <!-- <ion-icon name="golf-outline"></ion-icon> -->
      <img src="assets/img/address-icon.png" style="width:24px" />
      <ion-label position="fixed">آدرس</ion-label>
      <!-- <ion-textarea rows="3" cols="20" placeholder=""></ion-textarea> -->
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="golf-outline"></ion-icon> -->

      <ion-textarea rows="3" cols="20" placeholder=""></ion-textarea>
    </ion-item>



    <div style="width:100%;text-align: center;">
      <ion-button color="success" size="large" style="width: 40%;">ثبت</ion-button>
    </div>



  </ion-list>
</ion-content>