<ion-header>
  <ion-toolbar>
    <ion-title>{{place.title}}</ion-title>
    <ion-button color="success" (click)="openScorePage()" slot="end">امتیاز دهی</ion-button>
    <!-- <ion-buttons slot="end" >
     

    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <div onClick="window.history.back()">
        <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment [value]="segValue">
      <ion-segment-button value="health" (click)="segValue='health'">
        وضعیت بهداشتی
      </ion-segment-button>
      <ion-segment-button value="comments" (click)="segValue='comments'">
        نظرات
      </ion-segment-button>
      <ion-segment-button value="location" (click)="segValue='location'">
        مکان روی نقشه
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div *ngIf="segValue=='health'">

    <ion-grid>
      <ion-row>
        <ion-col>
          <div style="width: 100%;border-radius: 5px;border: solid rgb(75, 75, 75) 2px;">
            <ion-badge [color]="getColorBasedOnAverage(getMaskAverage())">{{getMaskAverage()}}</ion-badge>
            <img src="assets/img/mask-icon.png" style="width: 100%;" />
          </div>
        </ion-col>
        <ion-col>
          <div style="width: 100%;border-radius: 5px;border: solid rgb(75, 75, 75) 2px;">
            <ion-badge [color]="getColorBasedOnAverage(getSanitizerAverage())">{{getSanitizerAverage()}}</ion-badge>
            <img src="assets/img/sant-icon.png" style="width: 100%;" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div style="width: 100%;border-radius: 5px;border: solid rgb(75, 75, 75) 2px;">
            <ion-badge [color]="getColorBasedOnAverage(getSocialDistandingAverage())">{{getSocialDistandingAverage()}}
            </ion-badge>
            <img src="assets/img/dist-icon.png" style="width: 100%;" />
          </div>
        </ion-col>
        <ion-col>
          <div style="width: 100%;border-radius: 5px;border: solid rgb(75, 75, 75) 2px;">
            <ion-badge [color]="getColorBasedOnAverage(getAirConditioningAverage())">{{getAirConditioningAverage()}}
            </ion-badge>
            <img src="assets/img/air-icon.png" style="width: 100%;" />
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>






  </div>
  <div *ngIf="segValue=='comments'">


    <ion-card *ngFor="let placeHistory of getHistoriesWithComment()">
      <ion-item>
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>{{placeHistory._userName}}</ion-label>
        <ion-button fill="outline" slot="end" (click)="showUserScores()">...</ion-button>
      </ion-item>
      <ion-card-content>
        {{placeHistory.comment}}
      </ion-card-content>
    </ion-card>

  </div>

  <google-map *ngIf="segValue=='location'" height="100%" width="100%" [center]="center">
    <map-marker #marker [position]="markerPosition" [options]="markerOptions"></map-marker>
  </google-map>

</ion-content>