<ion-header>
  <ion-toolbar>
    <ion-title>وضعیت سلامت فردی</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <div onClick="window.history.back()">
        <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <app-chart></app-chart> -->
  <canvas #lineCanvas></canvas>

  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let answer of last14DaysAnswers">
        <div style="width: 100%;border-radius: 5px;border: solid grey 2px;height: 150px;"
          (click)="goToQuestionList(true)">
          <div class="date">11/7</div>
          <img src="assets/img/ok-icon.png" alt="">
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="goToQuestionList(false)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>