<ion-header>
  <ion-toolbar>
    <!-- <ion-title>اماکن</ion-title> -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <div onClick="window.history.back()">
        <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
      </div>
    </ion-buttons>
    <ion-segment [value]="segValue">
      <ion-segment-button value="health" (click)="segValue='health'">
        جستجو
      </ion-segment-button>
      <ion-segment-button value="comments" (click)="segValue='comments'">
        لیست
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="segValue=='health'">
      <ion-item>
        <ion-label>کجا میخوای بری؟</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>
    <div *ngIf="segValue=='comments'">

      <ion-select placeholder="انتخاب دسته بندی" style="max-width: max-content;">
        <ion-select-option value="1">اماکن تفریحی</ion-select-option>
        <ion-select-option value="2">بانک ها</ion-select-option>
        <ion-select-option value="3">ادارات</ion-select-option>
        <ion-select-option value="4">اماکن آموزشی</ion-select-option>
      </ion-select>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>





  <ion-list style="margin-top: 30px;" *ngIf="segValue=='health'">
    <ion-item *ngFor="let item of searchResult; let i = index">
      <ion-label>{{item.title}}</ion-label>
      <ion-icon name="chevron-back-outline" (click)="onClickItem()"></ion-icon>

    </ion-item>
  </ion-list>

  <google-map *ngIf="segValue=='comments'" height="100%" width="100%" [center]="center">
    <map-marker *ngFor="let marker of markers" [position]="marker"></map-marker>

  </google-map>



</ion-content>
<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="gotoAddPlace()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>